.container {
    display: flex;
    flex-direction: column;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-gap: 0px;
    padding: 10px;
}

.cell {
    width: 150px;
    height: 150px;
    border: solid 1px black;
    font-size: 130px;
    text-align: center;
}